---
import { getCollection } from "astro:content";
const allStuffs = await getCollection("stuff2");

const { count } = Astro.props;

function parseDate(dateStr) {
  const [month, day, year] = dateStr.split(" ");
  return new Date(`${month} ${parseInt(day)}, ${year}`);
}

const sortedStuffs = allStuffs
  .map((stuff2) => ({
    ...stuff2,
    date: parseDate(stuff2.data.dateFormatted),
  }))
  .sort((a, b) => b.date.getTime() - a.date.getTime());

const stuffsLoop = sortedStuffs.slice(0, count).map((stuff2) => {
  return {
    ...(stuff2.data || {}),
    link: `/stuff2/${stuff2.slug}`,
  };
});
---

{
  stuffsLoop.map((stuff2) => {
    return (
      <div
        class="relative border border-transparent border-dashed cursor-pointer p-7 group rounded-2xl"
        onclick={`location.href = '${stuff2.link}'`}
      >
        <div class="absolute inset-0 z-20 w-full h-full duration-300 ease-out bg-white border border-dashed dark:bg-neutral-950 rounded-2xl border-neutral-300 dark:border-neutral-600 group-hover:-translate-x-1 group-hover:-translate-y-1" />
        <div class="absolute inset-0 z-10 w-full h-full duration-300 ease-out border border-dashed rounded-2xl border-neutral-300 dark:border-neutral-600 group-hover:translate-x-1 group-hover:translate-y-1" />
        <div class="relative z-30 duration-300 ease-out group-hover:-translate-x-1 group-hover:-translate-y-1">
          <h2 class="flex items-center mb-3">
            <a
              href={stuff2.link}
              class="text-base font-bold leading-tight tracking-tight sm:text-lg dark:text-neutral-100"
            >
              {stuff2.title}
              
            </a>
            <svg
              class="group-hover:translate-x-0 flex-shrink-0 translate-y-0.5 -translate-x-1 w-2.5 h-2.5 stroke-current ml-1 transition-all ease-in-out duration-200  transform"
              viewBox="0 0 13 15"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <g
                stroke="none"
                stroke-width="1"
                fill="none"
                fill-rule="evenodd"
                stroke-linecap="round"
                stroke-linejoin="round"
              >
                <g
                  id="svg"
                  transform="translate(0.666667, 2.333333)"
                  stroke="currentColor"
                  stroke-width="2.4"
                >
                  <g>
                    <>
                      <polyline
                        class="transition-all duration-200 ease-out opacity-0 delay-0 group-hover:opacity-100"
                        points="5.33333333 0 10.8333333 5.5 5.33333333 11"
                      />
                      <line
                        class="transition-all duration-200 ease-out transform -translate-x-1 opacity-0 group-hover:translate-x-0 group-hover:opacity-100 group-hover:ml-0"
                        x1="10.8333333"
                        y1="5.5"
                        x2="0.833333333"
                        y2="5.16666667"
                      />
                    </>
                  </g>
                </g>
              </g>
            </svg>
          </h2>
          <p class="text-sm text-neutral-600 dark:text-neutral-400">
          </p>
          <div class="mt-2.5 flex items-center gap-1.5 text-xs font-medium text-neutral-800 dark:text-neutral-300">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              width="19"
              height="19"
              class="icon small"
              aria-hidden="true"
            >
              <path d="M5.99805 3C9.48787 3 12.3812 5.55379 12.9112 8.8945C14.0863 7.72389 15.7076 7 17.498 7H21.998V9.5C21.998 13.0899 19.0879 16 15.498 16H12.998V21H10.998V13H8.99805C5.13205 13 1.99805 9.86599 1.99805 6V3H5.99805ZM19.998 9H17.498C15.0128 9 12.998 11.0147 12.998 13.5V14H15.498C17.9833 14 19.998 11.9853 19.998 9.5V9ZM5.99805 5H3.99805V6C3.99805 8.76142 6.23662 11 8.99805 11H10.998V10C10.998 7.23858 8.75947 5 5.99805 5Z" />
            </svg>
            Planted on {stuff2.dateFormatted}
          </div>
        </div>
      </div>
    );
  })
}
